.title {
    font-weight: bold;
}

.information {
    font-size: 1.1rem;
    margin-bottom: 0.4em;
}

/* Commit information styling */
.commits {
    display: grid;
    gap: 0.4em;
}

.commit {
    border-left: #333 1px solid;
    padding-left: 0.4em;
    margin-bottom: 0.6em;
}

.commitDateTitle {
    color: #444;
    font-size: 0.9rem;
}

.commitTitle {
    margin-bottom: 0.4em;
    display: block;
}
